@import url(styles/header.css);

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #ffffff;
    --amarelo: #db0000;
    --roxo: #a11212;
    --preto:#000000;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
}

body {
    background-color: rgb(240, 237, 238);

}